/.VSCodeCounter
/.idea
/.vs
.DS_Store

node_modules/

/server/config.yaml
/server/dist
/server/dist-bundled
/server/public
!/server/public/.gitkeep

/frontend/dist
/frontend/src/auto-imports.d.ts
/frontend/src/components.d.ts

/build

game-config/